.news-detail {
	max-width: 800px;
	margin: 0 auto;
}

.new-badge {
	font-size: 13px;
	font-weight: 600;
	padding: 6px 13px;
	border: 1px solid #198754;
}

.article-content {
	font-size: 18px;
	line-height: 1.7;
	color: #333;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}