{% extends 'base.html' %}

{% block title %}
Обратная связь
{% endblock %}

{% block content %}
<div class="container">
	<h1>Обратная связь</h1>
	<p>Заполните форму для обратной связи</p>

	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible fade show"
		role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}

	<form name="feedback" method="POST">
		<div class="form-list">
			<div class="mb-3">
				<label class="form-label">Ваше имя:</label>
				<input class="form-control {% if errors and errors.username %}is-invalid{% endif %}" type="text"
					name="username" maxlength="30" value="{{ username if username else '' }}">
				{% if errors and errors.username %}
				<div class="invalid-feedback d-block">{{ errors.username }}</div>
				{% endif %}
			</div>
			<div class="mb-3">
				<label class="form-label">Электронная почта:</label>
				<input class="form-control {% if errors and errors.usermail %}is-invalid{% endif %}" type="text"
					name="usermail" maxlength="50" value="{{ usermail if usermail else '' }}">
				{% if errors and errors.usermail %}
				<div class="invalid-feedback d-block">{{ errors.usermail }}</div>
				{% endif %}
			</div>
			<div class="mb-3">
				<label class="form-label">Текст сообщения:</label>
				<textarea class="form-control {% if errors and errors.textmess %}is-invalid{% endif %}" name="textmess"
					rows="5">{{ textmess if textmess else '' }}</textarea>
				{% if errors and errors.textmess %}
				<div class="invalid-feedback d-block">{{ errors.textmess }}</div>
				{% endif %}
			</div>
			<div class="mb-3">
				<button id="send_mess" type="submit" class="btn btn-primary">отправить сообщение</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}