{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<div class="contacts_container">
	<h1 class="contacts_title">Наши контакты</h1>
	<div class="contacts_box">
		<ul class="contacts_list">
			<li>
				<a href="https://t.me/DKrey_06" target="_blank">Telegram</a>
			</li>
			<li>
				<a href="https://vk.com/dkrey_06" target="_blank">VK</a>
			</li>
			<li>
				<a href="https://github.com/DKrey06" target="_blank">GitHub</a>
			</li>
			<li>Mail: mrdmitry2006@mail.ru</li>
		</ul>
	</div>
</div>

{% endblock %}